*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    /* border: 1px solid red; */
}

.animation{
    animation-name: sam;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes sam{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

.bg{
    width: 100%;
    height: 550px;
    background-image: url("../Images/Summer\ house\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}